.img30
   max-width: 30px !important
.img40
  max-width: 40px !important
.img50
  max-width: 50px !important
.img70
   max-width: 70px !important
.img90
  max-width: 90px !important
.img120
  max-width: 120px !important
.img160
  max-width: 160px !important
.img200
  max-width: 200px !important
.img250
  max-width: 250px !important
.img350
  max-width: 350px !important
.img400
  max-width: 400px !important
.img450
  max-width: 450px !important
.img600
  max-width: 600px !important
.img700
  max-width: 700px !important
.img800
  max-width: 800px !important
.img900
  max-width: 900px !important

//ALINEACION DE CONTENIDO //
.justify-center
  display: flex
  justify-content: center
  flex-direction: row
.justify-end
  display: flex
  justify-content: flex-end
  flex-direction: row
.justify-star
  display: flex
  justify-content: flex-start
  flex-direction: row
.align-items-center
  display: flex;
  align-items: flex-center;
  flex-direction: row;
.align-items-end
  display: flex
  align-items: flex-end
  flex-direction: row
.justify-align
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: row;

//FONDO BANNER INTERNO TEMAS//
.banner-interno__fondo
  background-image: url("../assets/curso/portada/interno.svg") !important
  background-repeat: no-repeat
  background-color: #FFC664 !important
//FONDOS DE CONTENIDO//  
.bg_grad-01
  position: relative
  figure, p, .cajon, .video
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-image: url("../assets/curso/fondo-intro.png")
    background-repeat: no-repeat
    background-size: contain
    @media screen and ( max-width: 420px )
      margin: 0 -23px
      width: calc(100% + 46px)
      top: 20px
//CLASES SOBRE-ESCRITAS//
.video iframe
  height: 86% !important
  @media screen and (max-width: $bp-max-xs)
    height: 70% !important